<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249005503876-r7hs7u9telpjtrr40979gisl67qe68io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249005503876-r7hs7u9telpjtrr40979gisl67qe68io</string>
	<key>API_KEY</key>
	<string>AIzaSyArj-Ai8zv6RwMWZAM25BeaxAuSSu842Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>249005503876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vinhphan.Nike-Retail</string>
	<key>PROJECT_ID</key>
	<string>nike-retail-74ff3</string>
	<key>STORAGE_BUCKET</key>
	<string>nike-retail-74ff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249005503876:ios:1a6eefaaa82d2d1e</string>
	<key>DATABASE_URL</key>
	<string>https://nike-retail-74ff3.firebaseio.com</string>
</dict>
</plist>